name: Test

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
      - name: Decrypt secret
        run: ./.github/scripts/decrypt_secret.sh
        env:
          BUILD_KEY: ${{ secrets.BUILD_KEY }}
          BUILD_IV: ${{ secrets.BUILD_IV }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          path: |
            android/app/holybible.keystore
            android/app/google-services.json
      - run: flutter pub get
      - run: flutter test
      - run: flutter analyze
